h1 {
font-family: 'Open Sans', sans-serif;
font-size: 2em;
padding:  5px;
text-align: center;
text-rendering: optimizeLegibility;
}

h2,h3 {
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}


h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}


/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 50em;
	margin: 0 auto;
	background-color: #fff;
	background: rgba(255,255,255,0.5);
}

.header
{
	color: #fff;
	background: black;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 1em 1.25em;
}

.header-heading { margin: 0; }

.content { padding: 1em 1.25em; }

.footer
{
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
}


/*video*/

.img-responsive {
	max-width: 80%;
	display: block;
	margin: 0 auto
 }

/* -----------------------
Wide styles
------------------------*/

@media screen and (min-width: 45em)
{
	.header { padding: 1.5em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    height: 100%;
    width: 100%;
    background: #1b1d21;
    background-image: url(http://www.transparenttextures.com/patterns/carbon-fibre.png);
font-family: 'Open Sans', sans-serif;

}

.txtshadow{
  color: #000;
  text-shadow: 0 0 1px #3D3D3D;
}

#canvas-container{
  text-align: center;
}
